body {

    font-family: "droid-sans-mono", monospace;
    font-size: 18px;
    src:url(https://use.typekit.net/qxh7obn.css)
    
    
}

.textbox{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    color: rgb(149, 141, 210);
    font-size: 18px;
}

.dot1{

    height: 120px;
    width: 120px;
    background-color: rgb(149, 141, 210);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
   top:40%;
    animation: move 20.5s alternate-reverse ease-in-out infinite;
}

.dot2{

    height: 120px;
    width: 120px;
    background-color: rgba(149, 141, 210, 0.901);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
   top:40%;
    animation: move 20.25s alternate-reverse ease-in-out infinite;
}

.dot3{

    height: 120px;
    width: 120px;
    background-color: rgba(149, 141, 210, 0.761);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
   top:40%;
    animation: move 20s alternate-reverse ease-in-out infinite;
}

.dot4{

    height: 120px;
    width: 120px;
    background-color: rgba(149, 141, 210, 0.567);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
   top:40%;
    animation: move 19.75s alternate-reverse ease-in-out infinite;
}

.dot5{

    height: 120px;
    width: 120px;
    background-color: rgba(149, 141, 210, 0.406);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
   top:40%;
    animation: move 19.5s alternate-reverse ease-in-out infinite;
}

.dot6{

    height: 120px;
    width: 120px;
    background-color: rgba(149, 141, 210, 0.244);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
   top:40%;
    animation: move 19.25s alternate-reverse ease-in-out infinite;
}

.dot7{

    height: 120px;
    width: 120px;
    background-color: rgba(149, 141, 210, 0.088);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
   top:40%;
    animation: move 19s alternate-reverse ease-in-out infinite;
}


@keyframes move{
    0%{
        transform: translateX(1200px);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(1200px);
    }
}

.text1{
    position: absolute;
    color: rgb(149, 141, 210);
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: text1opacity 8s ease-in-out forwards ;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes text1opacity{
    0%{
        opacity: 0;
    }      
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.text2{
    position: absolute;
    color: rgb(149, 141, 210);
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: text2opacity 8s ease-out forwards ;
    animation-delay: 8s;
    opacity:0;
}

@keyframes text2opacity{
    0%{
        opacity: 0;
    }      
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.text3{
    position: absolute;
    color: rgb(149, 141, 210);
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: text3opacity 8s ease-out forwards ;
    animation-delay: 16s;
    opacity:0;
}

@keyframes text3opacity{
    0%{
        opacity: 0;
    }      
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.text4{
    position: absolute;
    color: rgb(149, 141, 210);
    top: 75%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: text4opacity 8s ease-out forwards ;
    animation-delay: 24s;
    opacity:0;
}

@keyframes text4opacity{
    0%{
        opacity: 0;
    }      
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.repeatbutton{
    position: absolute;
    color: rgb(149, 141, 210);
    top: 85%;
    left: 40%;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    animation: text5opacity 8s ease-out forwards ;
    animation-delay: 32s;
    opacity:0;
    
}

@keyframes text5opacity{
    0%{
        opacity: 0;
    }      
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


.circleicon{
    width:20px;
    height:20px;
    background-color: rgb(149, 141, 210);
    border-radius: 50%;
    position: absolute;
    top:1%;
    right:1%;
    padding-top: 1%;
    padding-right: 1%;
    transform: translate(3%,3%);
    animation: buttonani 2s ease-in forwards;
    animation-delay: 9s;
}

#menu {
    background:transparent;
    position:fixed;
    top:0;
    right:-270px;
    width:400px;
    height:100vh;
    transition:all 0.2s;
    overflow: hidden;
}

#menu:hover {
    background:rgb(149, 141, 210);
    right:0;
}

#menu:hover .open {
    opacity:0;
}

.menu-text {
    color: #333; 
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.6s;
    padding-left: 3%;
    padding-top: 3%;
    line-height: 18px;
    
  }

  #menu:hover .menu-text{
    opacity: 1;
  }

  a{
    color: black;
    text-decoration:underline;
    
  }